# Model

In this tutorial, we will construct a road network model.

In [1]:
import rnet as rn

Create an empty model by instantiating the `Model` class.

In [2]:
m = rn.Model()

Data sources are added to the model using the `add()` method.

In [3]:
m.add("samples/ichihara.osm")
m.add("samples/n35_e139_1arc_v3.tif")
m.add("samples/n35_e140_1arc_v3.tif")

The model is built using the `build()` method.

In [4]:
m.build()

The `dump()` method provides information about the model that has been built.

In [5]:
m.dump()

name: Model_0
crs: EPSG:4326
node_count: 60,231
edge_count: 82,531

The nodes and edges in the road network model are stored in the attributes, `.nodes` and `.edges`.

In [6]:
m.nodes

                x          y          z
0      139.837192  35.343257   6.851234
1      139.854301  35.355641   6.327888
2      139.910948  35.288344  83.242257
3      139.917316  35.313323  18.195077
4      139.921362  35.541115   0.000000
...           ...        ...        ...
60226  140.315844  35.361007  12.938321
60227  140.332167  35.215978  49.108080
60228  140.351031  35.215058  57.660412
60229  140.357817  35.298344  17.501359
60230  140.460123  35.863973  46.629039

[60231 rows x 3 columns]

In [7]:
m.edges

                                                          vseq
i     j
20794 21033                   (129451, 129948, 130409, 131075)
21033 21149           (131075, 131217, 131457, 131673, 131852)
20909 21033                                   (130190, 131075)
21033 21282           (131075, 131630, 132042, 132660, 132771)
20624 20794                                   (128441, 129451)
...                                                        ...
20525 20548  (127829, 127913, 127985, 128135, 128233, 12830...
      20903  (127829, 128019, 128248, 128447, 128618, 12873...
43504 43735  (259095, 259492, 259754, 260009, 260232, 26047...
58531 58591  (390196, 390434, 390702, 390793, 390792, 39082...
43823 43906                           (261462, 261790, 262137)

[82531 rows x 1 columns]